p{

text-align:centre;
color:red;

}

div{
width:300px;
border:1px solid black;
padding:50px;
margin:20px;
}


button{
  background-color: #ADD8E6;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 10px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

